﻿@using DevExpress.Blazor
@using System.Text.Json
@using System.Text.Json.Serialization;
@using DevExpress.Blazor.Grid
@using DevExpress.Blazor.Internal
@using System.Collections.ObjectModel
@using System.IO;
@using System.Text;
@inject IHttpClientFactory ClientFactory

<h1>Wyszukiwanie podmiotow po numerze konta</h1>

Numer Konta:
<DxTextBox @bind-Text="@bank" />
Data:
<DxTextBox @bind-Text="@date" />

<DevExpress.Blazor.DxButton @onclick="@GetData">Wyślij</DevExpress.Blazor.DxButton>
<DxDataGrid Data="@dataGrid2">
    <DxDataGridDateEditColumn Field="NIP"
                              Caption="NIP" />
    <DxDataGridDateEditColumn Field="Name"
                              Caption="Name" />
    <DxDataGridDateEditColumn Field="Regon"
                              Caption="Regon" />
    <DxDataGridDateEditColumn Field="RestorationDate"
                              Caption="RestorationDate" />
    <DxDataGridDateEditColumn Field="WorkingAddress"
                              Caption="WorkingAddress" />
    <DxDataGridDateEditColumn Field="StatusVat"
                              Caption="StatusVat" />
    <DxDataGridDateEditColumn Field="KRS"
                              Caption="KRS" />
    <DxDataGridDateEditColumn Field="RestorationDate"
                              Caption="RestorationDate" />
</DxDataGrid>


@code {
    public static string baseApiUrl = "https://wl-api.mf.gov.pl/";
    string bank { get; set; } = "83124062921978001082489141";
    string date { get; set; } = "2019-05-17";
    NIP1 nip1Data { get; set; }

    public ObservableCollection<NIP1> dataGrid { get; set; } = new ObservableCollection<NIP1>();
    public ObservableCollection<NIP1.Result.Subject> dataGrid2 { get; set; } = new ObservableCollection<NIP1.Result.Subject>();

    protected async Task GetData()
    {
        var request = new HttpRequestMessage(HttpMethod.Get,
            baseApiUrl + "api/search/bank-account/" + bank + "?date=" + date);
        request.Headers.Add("Accept", "application/json");
        request.Headers.Add("User-Agent", "HttpClientFactory");

        var client = ClientFactory.CreateClient();

        var response = await client.SendAsync(request);

        if (response.IsSuccessStatusCode)
        {

            using var responseStream = await response.Content.ReadAsStreamAsync();
            NIP1 nipDta = new NIP1();
            nipDta = await JsonSerializer.DeserializeAsync<NIP1>(responseStream);

            dataGrid.Add(nipDta);

            dataGrid2.Add(dataGrid[0].ResultRes.SubjectRes[0]);
        }
    }

    public class NIP1
    {
        [JsonPropertyName("result")]
        public Result ResultRes { get; set; }

        public class Result
        {
            [JsonPropertyName("subjects")]
            public ObservableCollection<Subject> SubjectRes { get; set; } = new ObservableCollection<Subject>();

            public class Subject
            {
                [JsonPropertyName("nip")]
                public string NIP { get; set; }

                [JsonPropertyName("name")]
                public string Name { get; set; }

                [JsonPropertyName("regon")]
                public string Regon { get; set; }

                [JsonPropertyName("restorationDate")]
                public string RestorationDate { get; set; }

                [JsonPropertyName("workingAddress")]
                public string WorkingAddress { get; set; }

                [JsonPropertyName("statusVat")]
                public string StatusVat { get; set; }

                [JsonPropertyName("krs")]
                public string KRS { get; set; }

                [JsonPropertyName("restorationBasis")]
                public string EestorationBasis { get; set; }
            }

        }

    }
}