﻿@using DevExpress.Blazor
@using System.Text.Json
@using System.Text.Json.Serialization;
@using DevExpress.Blazor.Grid
@using DevExpress.Blazor.Internal
@using System.Collections.ObjectModel
@using System.IO;
@using System.Text;
@inject IHttpClientFactory ClientFactory

<h1>Sprawdzenie pojedynczego podmiotu po regon i numerze konta</h1>

Regon:
<DxTextBox @bind-Text="@regon" />
Numer Konta:
<DxTextBox @bind-Text="@bank" />
Data:
<DxTextBox @bind-Text="@date" />

<DevExpress.Blazor.DxButton @onclick="@GetData">Wyślij</DevExpress.Blazor.DxButton>
<DxDataGrid Data="@dataGrid">
    <DxDataGridDateEditColumn Field="ResultRes.Regon"
                              Caption="Regon" />
    <DxDataGridDateEditColumn Field="ResultRes.Bank"
                              Caption="Bank" />
    <DxDataGridDateEditColumn Field="ResultRes.AccountAssigned"
                              Caption="Account Assigned" />
</DxDataGrid>


@code {
    public static string baseApiUrl = "https://wl-api.mf.gov.pl/";
    string regon { get; set; } = "350527377";
    string bank { get; set; } = "02160011980002002251087001";
    string date { get; set; } = "2019-05-17";
    NIP1 nip1Data { get; set; }

    public ObservableCollection<NIP1> dataGrid { get; set; } = new ObservableCollection<NIP1>();

    protected async Task GetData()
    {
        var request = new HttpRequestMessage(HttpMethod.Get,
            baseApiUrl + "api/check/regon/" + regon + "/bank-account/" + bank + "?date=" + date);
        request.Headers.Add("Accept", "application/json");
        request.Headers.Add("User-Agent", "HttpClientFactory");

        var client = ClientFactory.CreateClient();

        var response = await client.SendAsync(request);

        if (response.IsSuccessStatusCode)
        {

            using var responseStream = await response.Content.ReadAsStreamAsync();
            NIP1 nipDta = new NIP1();
            nipDta = await JsonSerializer.DeserializeAsync<NIP1>(responseStream);

            nipDta.ResultRes.Bank = bank;
            nipDta.ResultRes.Regon = regon;

            dataGrid.Add(nipDta);
        }
    }

    public class NIP1
    {
        [JsonPropertyName("result")]
        public Result ResultRes { get; set; }

        public class Result
        {
            [JsonPropertyName("accountAssigned")]
            public string AccountAssigned { get; set; }

            public string Bank
            {
                get; set;
            }

            public string Regon
            {
                get; set;
            }
        }

    }
}