﻿@using System.Text.Json
@using System.Text.Json.Serialization;
@using DevExpress.Blazor
@inject IHttpClientFactory ClientFactory



<h1>Wyszukiwanie pojedynczego podmiotu po nip</h1>
<input id="nip1" placeholder="NIP" />
<input id="data1" placeholder="Data" />
<button @onclick="GetBranches">Get</button>
<h3>Response:</h3>
<ul>
    @foreach (var branch in branches)
    {
        <li>@branch.Name</li>
    }
</ul>

@code {
    private IEnumerable<GitHubBranch> branches = Array.Empty<GitHubBranch>();
    private bool getBranchesError;
    private bool shouldRender;

    protected override bool ShouldRender() => shouldRender;

    protected async Task GetBranches()
    {
        var request = new HttpRequestMessage(HttpMethod.Get,
            "https://api.github.com/repos/dotnet/AspNetCore.Docs/branches");
        request.Headers.Add("Accept", "application/vnd.github.v3+json");
        request.Headers.Add("User-Agent", "HttpClientFactory-Sample");

        var client = ClientFactory.CreateClient();

        var response = await client.SendAsync(request);

        if (response.IsSuccessStatusCode)
        {
            using var responseStream = await response.Content.ReadAsStreamAsync();
            branches = await JsonSerializer.DeserializeAsync
                <IEnumerable<GitHubBranch>>(responseStream);
        }
        else
        {
            getBranchesError = true;
        }

        shouldRender = true;
    }

    public class GitHubBranch
    {
        [JsonPropertyName("name")]
        public string Name { get; set; }
    }

    public class SingleNIPModel
    {

    }

}