﻿@using DevExpress.Blazor
@using System.Text.Json
@using System.Text.Json.Serialization;
@using DevExpress.Blazor.Grid
@using DevExpress.Blazor.Internal
@using System.Collections.ObjectModel
@using System.IO;
@using System.Text;
@inject IHttpClientFactory ClientFactory

<h1>Wyszukiwanie pojedynczego podmiotu po nip</h1>

NIP:
<DxTextBox @bind-Text="@NIP" />
Data:
<DxTextBox @bind-Text="@Date" />

<DevExpress.Blazor.DxButton @onclick="@GetSingleNip">Wyślij</DevExpress.Blazor.DxButton>
<DxDataGrid Data="@dataGrid">
    <DxDataGridDateEditColumn Field="ResultRes.SubjectRes.NIP"
                              Caption="NIP" />
    <DxDataGridDateEditColumn Field="ResultRes.SubjectRes.Name"
                              Caption="Name" />
    <DxDataGridDateEditColumn Field="ResultRes.SubjectRes.Region"
                              Caption="Region" />
    <DxDataGridDateEditColumn Field="ResultRes.SubjectRes.RestorationDate"
                              Caption="RestorationDate" />
    <DxDataGridDateEditColumn Field="ResultRes.SubjectRes.WorkingAddress"
                              Caption="WorkingAddress" />
    <DxDataGridDateEditColumn Field="ResultRes.SubjectRes.StatusVat"
                              Caption="StatusVat" />
    <DxDataGridDateEditColumn Field="ResultRes.SubjectRes.KRS"
                              Caption="KRS" />
    <DxDataGridDateEditColumn Field="ResultRes.SubjectRes.RestorationDate"
                              Caption="RestorationDate" />
</DxDataGrid>


    @code {
        public static string baseApiUrl = "https://wl-api.mf.gov.pl/";
        private bool getBranchesError;
        private bool shouldRender;
        string NIP { get; set; } = "6770065406";
        string Date { get; set; } = "2019-05-17";
        NIP1 nip1Data { get; set; }

        IEnumerable<KeyValuePair<string, object>> placeholder = new Dictionary<string, object> { { "placeholder", "NIP" } };

        protected override bool ShouldRender() => shouldRender;

        public ObservableCollection<NIP1> dataGrid { get; set; } = new ObservableCollection<NIP1>();

        protected async Task GetSingleNip()
        {
            var request = new HttpRequestMessage(HttpMethod.Get,
                baseApiUrl + "api/search/nip/" + NIP + "?date=" + Date);
            request.Headers.Add("Accept", "application/json");
            request.Headers.Add("User-Agent", "HttpClientFactory");

            var client = ClientFactory.CreateClient();

            var response = await client.SendAsync(request);

            if (response.IsSuccessStatusCode)
            {

                using var responseStream = await response.Content.ReadAsStreamAsync();
                NIP1 nipDta = new NIP1();
                nipDta = await JsonSerializer.DeserializeAsync<NIP1>(responseStream);

                dataGrid.Add(nipDta);
            }
            else
            {
                getBranchesError = true;
            }

            shouldRender = true;

        }

        public class NIP1
        {
            [JsonPropertyName("result")]
            public Result ResultRes { get; set; }

            public class Result
            {
                [JsonPropertyName("subject")]
                public Subject SubjectRes { get; set; }

                public class Subject
                {
                    [JsonPropertyName("nip")]
                    public string NIP { get; set; }

                    [JsonPropertyName("name")]
                    public string Name { get; set; }

                    [JsonPropertyName("regon")]
                    public string Region { get; set; }

                    [JsonPropertyName("restorationDate")]
                    public string RestorationDate { get; set; }

                    [JsonPropertyName("workingAddress")]
                    public string WorkingAddress { get; set; }

                    [JsonPropertyName("statusVat")]
                    public string StatusVat { get; set; }

                    [JsonPropertyName("krs")]
                    public string KRS { get; set; }

                    [JsonPropertyName("restorationBasis")]
                    public string EestorationBasis { get; set; }
                }

            }

        }
    }
